<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="common_header.css">
    <link rel="stylesheet" href="aiml_insights.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include("common_header.ejs") %>
    <main>
        <h1>🤖 AI/ML & Data Science Insights</h1><br>
        <h3>1. Understand the Differences</h3><br>
        <ul>
            <li>Artificial Intelligence (AI): Broad field focused on building systems that can mimic human intelligence.

<li>Machine Learning (ML): Subset of AI, focuses on learning from data.</li>

<li>Deep Learning (DL): Subset of ML using neural networks.</li>

<li>Data Science: Focuses on extracting insights from data (includes stats, ML, data wrangling, visualization).
</li>
</li>
        </ul><br><h3>2. Core Concepts</h3><br>
        <ul>
            <li>Supervised Learning: Model learns from labeled data (e.g., spam detection).</li>
            <li>Unsupervised Learning: No labels, model finds patterns (e.g., clustering customers).</li>
            <li>Reinforcement Learning: Agent learns by trial and error (used in robotics, games).</li>
            <li>Overfitting & Underfitting: Learn just right — not too much, not too little.</li>
        </ul><br>
        <h3>3. Popular Algorithms</h3><br>
        <ul>
            <li>Linear Regression / Logistic Regression</li>
            <li>Decision Trees & Random Forest</li>
            <li>K-Means Clustering</li>
            <li>Support Vector Machines (SVM)</li>
            <li>Neural Networks (ANN, CNN, RNN)</li>
        </ul><br>
        <h3>4. Python Libraries</h3><br>
        <ul>
            <li>NumPy / Pandas: Data manipulation.</li>
            <li>Matplotlib / Seaborn: Visualization.</li>
            <li>scikit-learn: ML models.</li>
            <li>TensorFlow / PyTorch: Deep learning.</li>
            <li>opencv: Computer vision.</li>
            <li>NLTK / spaCy: Natural Language Processing (NLP).</li>
        </ul><br>
        <h3>5. Real-World Applications  </h3><br>
            <ul>
                <li>Spam filtering</li>
                <li>Fraud detection</li>
                <li>Image classification</li>
                <li>Recommender systems</li>
                <li>Voice assistants</li>
                <li>Predictive analytics (sales, stock)</li>
            </ul><br><br>
   
    </main>
        <%- include("script.ejs") %>

</body>
</html>