<div class="Header">
    <h2>Blogo</h2>
    
<div class="header">
    <a href="/home">Home</a>
    <a href="/about">About</a>
    <a href="/contact">Contact</a>
</div>
<h1>Welcome to My Blog</h1>
<p>A blog about development,programing ,and technology</p>
<form action="/read_more" method="post">
    <input type="submit" value="Read More">
</form>
</div>
