main{
    padding-top: 10vh;
     background-color: #e9f2eb;
     min-width: none;
     min-height: 100vh;
     background-image: url("images/web.jpg");
    background-size: cover;
    color: white;
    background-position: center;
}
h1{
    padding-left: 2vh;
}
body p{
    flex: 1;
  padding: 20px;
  line-height: 1.6;
}
 h3{
  padding-left: 3vh;
}
ul li{
    padding-left: 3vh;
    list-style-type: circle !important;
}